<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Martin</title>
    <link rel="stylesheet" href="../css/estilos.css">

</head>

<body>
<div class="barra-top">OFERTAS ESPECIALES</div>


<header class="encabezado">
    <a class="logo" href="#">
    <img src="../img/logo.png" alt="Logo">
    </a>

  <div class="zona-derecha">
    <div class="buscador">
      <input type="text" placeholder="¿Qué estás buscando?">
    </div>
<a href="/carrito">
   <img class="boton-superior" href="#" src="../img/carrito.png" alt="Carrito">
</a>
<div id="saludo-usuario" class="boton-superior" style="display: flex; align-items: center; gap: 10px;">
  <img id="usuario-img" src="../img/usuario.png" alt="Usuario" style="width: 30px;">
  <div id="dropdown-menu" class="dropdown oculto">
  <span id="nombre-usuario" style="color: #000;"></span>
  <button id="cerrar-sesion" style="display: none; padding: 4px 10px; background-color: #800080; color: #fff; border: none; border-radius: 5px; cursor: pointer;">
    Cerrar sesión
  </button>
  </div>

  </div>
</header>


  <nav class="navbar">
    <ul class="nav-lista">
      <li><a href="/">Inicio</a></li>
      <li><a href="ferreteria.html">Catálogo</a></li>
      <li><a href="#contacto">Nosotros</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>
  </nav>

    <nav class="navbar2">
    <ul class="nav-lista">
      <li><a href="ferreteria.html">Ferretería</a></li>
      <li><a href="pisos.html">Pisos</a></li>
      <li><a href="luminarias.html">Luminarias</a></li>
      <li><a href="techos.html">Techos</a></li>
    </ul>
  </nav>

  <section class="nosotros-section">
  <div class="nosotros-container">
    <h1>Pisos</h1>
    <div class="nosotros-content">
      <div class="nosotros-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in felis eget mauris sollicitudin luctus. Praesent maximus egestas arcu, quis tincidunt mauris luctus eget. Morbi gravida, justo et luctus imperdiet, tortor urna finibus arcu, in mattis nisi neque nec ligula. Quisque sit amet pellentesque purus. Etiam facilisis, turpis nec convallis interdum, risus magna varius velit, vitae porttitor enim erat sit amet massa. Phasellus bibendum vestibulum nisi, at faucibus augue varius et. Sed suscipit ac mauris vel malesuada. Morbi tincidunt facilisis dignissim. Curabitur in tristique tellus. Maceenas lorem ligula, tincidunt sit amet erat sed, dapibus hendrerit orci. Vestibulum pulvinar a dolor quis fermentum.</p>
      </div>
    </div>
  </div>

<section class="mas-vendidos">
    <div class="productos">

      <div class="producto-card">
        <a href="../productos/Pino Radiata.html"><img src="../img/madera1.jpg" alt="Pino Radiata" /></a>
        <div class="producto-info">
          <p class="precio">S/12.00</p>
          <p class="nombre">Pino Radiata S4S<br>Grado Mueble</p>
          <p class="marca">Forestal Santa Blanca</p>
        </div>
      </div>

      <div class="producto-card">
        <a href=""><img src="../img/madera2.jpg" alt="Pino Radiata" /></a>
        <div class="producto-info">
          <p class="precio">S/30.00</p>
          <p class="nombre">Melamina Chiavenna</p>
          <p class="marca">Tableros Hispanos</p>
        </div>
      </div>

      <div class="producto-card">
        <a href=""><img src="../img/madera3.jpg" alt="Pino Radiata" /></a>
        <div class="producto-info">
          <p class="precio">S/25.00</p>
          <p class="nombre">Melamina Entablado Natural</p>
          <p class="marca">Tableros Hispanos</p>
        </div>
      </div>

      <div class="producto-card">
        <a href=""><img src="../img/madera4.jpg" alt="Pino Radiata" /></a>
        <div class="producto-info">
          <p class="precio">S/26.00</p>
          <p class="nombre">Melamina Roble Negro</p>
          <p class="marca">Tableros Hispanos</p>
        </div>
      </div>

       <div class="producto-card">
        <a href=""><img src="../img/madera5.jpg" alt="Pino Radiata" /></a>
        <div class="producto-info">
          <p class="precio">S/28.00</p>
          <p class="nombre">Melamina Roble Canela</p>
          <p class="marca">Tableros Hispanos</p>
        </div>
      </div>

       <div class="producto-card">
        <a href=""><img src="../img/madera6.jpg" alt="Pino Radiata" /></a>
        <div class="producto-info">
          <p class="precio">S/30.00</p>
          <p class="nombre">Melamina Sonoma Eiche</p>
          <p class="marca">Tableros Hispanos</p>
        </div>
      </div>

       <div class="productos">

      <div class="producto-card">
        <a href="#"><img src="../img/madera1.jpg" alt="Pino Radiata" /></a>
        <div class="producto-info">
          <p class="precio">S/12.00</p>
          <p class="nombre">Pino Radiata S4S<br>Grado Mueble</p>
          <p class="marca">Forestal Santa Blanca</p>
        </div>
      </div>

      <div class="producto-card">
        <a href=""><img src="../img/madera2.jpg" alt="Pino Radiata" /></a>
        <div class="producto-info">
          <p class="precio">S/30.00</p>
          <p class="nombre">Melamina Chiavenna</p>
          <p class="marca">Tableros Hispanos</p>
        </div>
      </div>

      <div class="producto-card">
        <a href=""><img src="../img/madera3.jpg" alt="Pino Radiata" /></a>
        <div class="producto-info">
          <p class="precio">S/25.00</p>
          <p class="nombre">Melamina Entablado Natural</p>
          <p class="marca">Tableros Hispanos</p>
        </div>
      </div>

      <div class="producto-card">
        <a href=""><img src="../img/madera4.jpg" alt="Pino Radiata" /></a>
        <div class="producto-info">
          <p class="precio">S/26.00</p>
          <p class="nombre">Melamina Roble Negro</p>
          <p class="marca">Tableros Hispanos</p>
        </div>
      </div>

       <div class="producto-card">
        <a href=""><img src="../img/madera5.jpg" alt="Pino Radiata" /></a>
        <div class="producto-info">
          <p class="precio">S/28.00</p>
          <p class="nombre">Melamina Roble Canela</p>
          <p class="marca">Tableros Hispanos</p>
        </div>
      </div>

       <div class="producto-card">
        <a href=""><img src="../img/madera6.jpg" alt="Pino Radiata" /></a>
        <div class="producto-info">
          <p class="precio">S/30.00</p>
          <p class="nombre">Melamina Sonoma Eiche</p>
          <p class="marca">Tableros Hispanos</p>
        </div>
      </div>

    </div>
    
    </div>
  </section>

   
  
</section>

<footer id="contacto" class="footer">
  <div class="footer-container">
      <h1 class="brand-name">MARTIN</h1>

    <div class="footer-columns">
      <div class="footer-column">
        <h2>Nosotros</h2>
        <ul>
          <li>La empresa</li>
          <li>Nuestras tiendas</li>
          <li>Ventas corporativas</li>
          <li>Trabaja con nosotros</li>
          <li>Política SIG</li>
        </ul>
      </div>

      <div class="footer-column">
        <h2>Legales</h2>
        <ul>
          <li>Políticas de privacidad</li>
          <li>Términos y condiciones</li>
          <li>Política de Modelo de prevención</li>
          <li>Política Anticorrupción</li>
          <li>Política de Lavado de Activo y terrorismo</li>
          <li>Política de Prevención de Delitos Tributarios y Contables</li>
          <li>Política de Prevención de Delitos Aduaneros</li>
          <li>Canal de Denuncias</li>
        </ul>
      </div>

      <div class="footer-column">
        <h2>Contáctanos</h2>
        <ul>
          <li>Email: ventas@martin.com.pe</li>
          <li>01-2171300</li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>Todos los derechos reservados - Representaciones Martín S.A.C. 2020</p>
    </div>
  </div>
</footer>
<script src="../js/SesionInit.js"></script>

</body>
</html>